@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding-bottom: 100vh;
  /* cursor: none; */
}

html {
  scrollbar-width: none !important;
}

html body {
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}